<section data-id="{{trip._id}}">
    <h4>Trip made:</h4>
    <h6 >trip Id:</h6>
     <p>{{trip._id}}</p>
    <h6> Date :</h6>
    <p>{{trip.date}}</p>
    <h6>driver Name:</h6>
    <p>{{trip.driverName}}</p>
    <h6>location:</h6>
    <p>{{trip.location}}</p>
    <h6>destination:</h6>
    <p>{{trip.destination}}</p>
    <button type="button" class="btn btn-danger delete-trip" data-id="{{trip._id}}">delete</button>
        </section>
